spring:
  profiles:
    active: test
  jpa:
    database: POSTGRESQL
    show-sql: false
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    driver-class-name: org.postgresql.Driver
    platform: postgres
    url: ${DB_URL:jdbc:postgresql://localhost:5438/xive}
    username: guest
    password: guest
  jackson:
    serialization:
      INDENT_OUTPUT: true

management:
  metrics:
    export:
      prometheus:
        enabled: true
  endpoint:
    metrics:
      enabled: true
    prometheus:
      enabled: true
    health:
      show-details: when_authorized
  endpoints:
    web:
      exposure:
        include: "*"