<h2>Book Details</h2>

<hr/>
<div *ngIf="book">
  <div>
    <label><b>Title: </b></label> {{book.title}}
  </div>
  <div>
    <label><b>Description: </b></label> {{book.description}}
  </div>
  <div>
    <label><b>First 50 paragraphs: </b></label> {{book.first50Paragraphs}}
  </div>
</div>

<br>
<br>
<div style="display: inline-block;">
  <button (click)="list()" class="btn btn-primary" style="float: left">Back to Books List</button>
  <button (click)="editBook(book.id)" class="btn btn-warning" style="float: right; margin-left: 10px">Edit</button>
</div>
